/*CSS RESET*/
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* style css */
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    font-family: 'Courier New', Courier, monospace;
}



/* KONTEN UTAMA, WINDOW FOTO*/
.konten {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(150.02deg, #54F5FF 7.62%, #ACF5D1 42.35%, #B0F5CE 51.23%, #BAF5C9 62.03%, #F4F5AB 81.71%);
    overflow: hidden;
}

.konten .main-win {
    position: relative;
    width: 266px;
    height: 441px;
    margin: auto;
    margin-top: 70px;
    background: #FFFFFF;
    border-radius: 30px;
    overflow: hidden;
}

.konten .navbar {
    position: absolute;
    width: 260px;
    height: 40px;
    left: 2.8px;
    top: 3.5px;
    background: #72896F;
    border-radius: 27px 27px 0px 0px;
}

.navbar-btn .btn1 {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 15px;
    top: 15px;
    border-radius: 7.5px;
    background: #FF5A52;
}

.navbar-btn .btn2 {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 35px;
    top: 15px;
    border-radius: 7.5px;
    background: #E6C029;
}

.navbar-btn .btn3 {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 55px;
    top: 15px;
    border-radius: 7.5px;
    background: #53C22B;
}

.konten .foto {
    position: absolute;
    width: 260px;
    height: 391px;
    left: 0px;
    top: 43.5px;
    background: url(Screenshot_20201006-135917.png);
    background-size: cover;
    background-position-y: -29px;
    border-radius: 0px 0px 29px 29px;
}

.musik {
    position: absolute;
    top: 1.5%;
    left: 2.5%;
    width: 125px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    border-style: solid;
    border-color: #8359A3;
    border-width: 3px;
    box-sizing: border-box;
    visibility: hidden;
}



/* WINDOW KATA KATA*/
.kotak {
    position: absolute;
    width: 220px;
    height: 150px;
    top: 420px;
    left: 2%;
    background-color: white;
    border-radius: 20px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    box-sizing: border-box;
}

.kotak .kotaknav {
    position: absolute;
    width: 216px;
    height: 40px;
    background-color: #72896F;
    border-radius: 18px 18px 0 0;
}

.kotak .teks {
    position: absolute;
    width: 216px;
    height: 104px;
    top: 44px;
    background-color: #a2e1d8;
    border-radius: 0 0 18px 18px;
}

.kotaknav h1 {
    position: absolute;
    width: 200px;
    font-size: 16px;
    top: 5px;
    margin: auto;
    left: 10px;
    text-align: center;
    color: yellow;
}

.garis {
    position: relative;
    width: 24em;
    margin: 50px auto;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.kata {
    animation: ketikan 1.5s steps(20) 1s 1 normal both;
}

@keyframes ketikan {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


/* VEKTOR PEMBUAT UWU*/

.x1 {
    position: absolute;
    left: 15%;
    top: 5px;
    animation-name: muter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.x2 {
    position: absolute;
    top: 180px;
    right: 10%;
    animation-name: muter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.x3 {
    position: absolute;
    left: 8%;
    top: 300px;
    animation-name: muter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.x4 {
    position: absolute;
    right: 20%;
    top: 530px;
    animation-name: muter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.buledh1 {
    position: absolute;
    right: 1%;
    top: 80px;
}

.buledh2 {
    position: absolute;
    left: 3%;
    top: 210px;
}

.buledh3 {
    position: absolute;
    right: 5%;
    top: 450px;
}

.buledh4 {
    position: absolute;
    left: 35%;
    top: 2%;
}

.tiga1 {
    position: absolute;
    top: 70px;
    left: 5%;
    width: 33px;
    animation-name: balik;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.tiga2 {
    position: absolute;
    top: 280px;
    right: 5%;
    width: 33px;
    animation-name: balik;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.tiga3 {
    position: absolute;
    top: 380px;
    left: 1%;
    width: 33px;
    animation-name: balik;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.tiga4 {
    position: absolute;
    top: 600px;
    left: 50%;
    width: 33px;
    animation-name: balik;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.garisputus-atas {
    position: absolute;
    right: 10%;
    top: 0;
}

.garis-kiri {
    position: absolute;
    left: 0%;
    top: 130px;
}

.garis-kanan {
    position: absolute;
    right: -20px;
    top: 370px;
}

.garisputus-bawah {
    position: absolute;
    left: 0%;
    bottom: 2%;
}

@keyframes muter {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes balik {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}